<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/posts/new" method="post">
      <legend>New Post</legend>
      <div class="form-group">
        <label for="status">Status</label>
        <textarea name="status" class="form-control" id="status" placeholder="What's on your mind?" required></textarea>
      </div>
      <div class="form-group">
        <label for="image-url">Image Url (optional)</label>
        <input type="url" name="url" class="form-control" id="post-url" placeholder="Image Url">
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>
</div>