<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    this is the profile page
    <li class="list-group-item">
      <h1>hllo</h1>
      <h3>{{ user.name }}</h3>
      <h5>{{ user.email }}</h5>
      <h5>{{ user.bday }}</h5>
      <h5>{{ user.friend_num }}</h5>
    </li>
    
  </div>
</div>

